.footer {
  background-color: #222;
  padding: 80px 0;
  &__inner  {
    display: flex;
    justify-content: space-between;
  }
  &__item {
  }
  &__text {
    width: 277px;
    padding-top: 9px;
    color: #b6b6b6;
    font-size: 14px;
    line-height: 1.7;
  }
  &__title {
    color: $whiteColor;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.address-menu {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__item {
    display: flex;
    align-items: center;
    color: #b6b6b6;
    font-size: 14px;
  }
  ._icon-map {
    &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
  ._icon-call {
    &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
}
.inform-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__item {
  }
  &__link {
    color: #b6b6b6;
    font-size: 14px;
    transition: color .3s;
    &:hover {
      color: $accentColor;
    }
  }
}
.social-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__link {
    display: flex;
    align-items: center;
    color: #b6b6b6;
    font-size: 14px;
    transition: color .3s;
    &:hover {
      color: $accentColor;
    }
  }
  ._icon-google {
        &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
  ._icon-facebook {
        &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
  ._icon-twitter {
        &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
  ._icon-instagram {
        &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
  ._icon-pinterest {
        &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
  ._icon-youtube {
        &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
}
.open-time-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__item {
    color: #b6b6b6;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  ._icon-time {
    &::before {
      padding-right: 14px;
      color: $accentColor;
    }
  }
}
