.page {
}
.categories-slider {
  display: flex;
  // justify-content: space-between;
  gap: 40px;
  padding-bottom: 30px;
}
.sidebar {
  // width: 25%;
}
.categories-menu {
  width: 25%;
}
.slider {
  width: 75%;
  img {
    width: 100%;
  }
}
.categories-menu__item {
}
.categories-menu__link {
}
.content {
  // width: 75%;
}
.banner {
  img {
    // width: 100%;
  }
}